@model CodeTunnel.Domain.Entities.PostComment
@using (Html.BeginForm("AddComment", "Blog", FormMethod.Post, new { id = "addComment" }))
{
    <div class="form" style="max-width: 50%; padding: 25px;">
        <div class="opacityFrame">
        </div>
        <div class="subFrame">
            <div class="formTitle">
                Add Comment
            </div>
            <div>
                @Html.ValidationSummary()
                <br />
                @Html.Hidden("PostID", Model.PostID)
                <table style="width: 100%;" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td style="text-align: right;">
                            Name:&nbsp;
                        </td>
                        <td style="width: 100%;">
                            @Html.TextBoxFor(x => x.Author)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">
                            Email:&nbsp;
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Email)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">
                            Website:&nbsp;
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Website)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">
                            <br />
                            <br />
                            <br />
                            Body:&nbsp;
                        </td>
                        <td>
                            <br />
                            @Html.TextAreaFor(x => x.Body, new { @class = "commentBox wmd" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <br />
                            <input type="submit" value="Add Comment" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}